#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}   

.navbar {
  background-color: #0F0F0F;
  height: 4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.left-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-right: 1.5rem;
  display: inline-block;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1vh;
  transition: 0.3s ease-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.user-links {
  margin-right: 2rem;
}

.user-links a {
  margin: 0 1rem;
}

.header {
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 100vw;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center;
}

.header h1 {
  font-size: 3rem;
  font-weight: 500;
}

.header h2 {
  position: absolute;
  left: 1rem;
  top: 9rem;
  font-size: 1rem;
  font-weight: bold;
}