* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.8vw;
  overflow-x: hidden;
}

h1 {
  font-family: Bagnard, cursive;
}

h2 {
  font-family: Metropolis;
}

h3 {
  font-family: Metropolis;
  font-weight: 400;
}

p {
  font-family: 'Times New Roman', Times, serif;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-family: Metropolis;
  font-weight: 600;
  font-size: 1.1rem;
}

.button {
  background-color: #00B4D8;
  padding: 0.5rem 1rem;
  font-weight: 800;
}

.button-special {
  padding: 0.4rem 1rem;
  font-weight: 800;
  border: solid 2px white;
}